# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

__init__.py

# Virtual environment
.venv/
env/
venv/
ENV/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# Database / Local files
*.sqlite3
*.db
*.bak
*.swp

# Coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json

# Pycharm
*.iml
*.ipr
*.iws

# FastAPI / Uvicorn temp files
*.pid
